body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

.img-app {
    width: 300px;
    height: 300px;
    margin-left: auto; 
 }

 .navbar-color, .footer-color {
     background-color: #8e24aa;
 }

 .dark-info {
     background-color: #000;
     color: #fff;
     padding: 100px;
 }

 .dark-info i {
     color: #8e24aa;
     font-size: 50px;
 }

 .dark-info p {
     text-align: justify;
     width: 80%;
 }

 .purple-info {
     background-color: #ab47bc;
     color: #fff;
 }

 .customer {
    margin: 30px 0 0;
 }

 .customer .more-info {
     border: 1px solid #d2d2d2;
     border-radius: 8px;
     padding: 4px 10px;
     font-size: 20px;
     position: relative;
     left: 200px;
     bottom: 160px;
 }

 .customer hr {
     border: 0.5px solid #d2d2d2;
 }

 .customer img {
     width: 14%;
     height: 177px;
 }

 .customer h5 {
     margin-left: 20px;
 }

 .customer p {
     margin-left: 45px;
 }

.info-customer {
    position: relative;
    top: 0;
    left: 20%;
    border: 1px solid #000000;
    width: 50%;
}

#logo3d {
    width: 50%;
    height: 10%;
}

.purple-info {
    background-color: #ba68c8;
    padding: 20px;
}

.purple-info img {
    width: 90%;
}

.purple-info .img-right {
   float: right;
   width: 90%;
   margin-top: 20px;
}

label {
    color: #fff !important;
}

input {
    border-bottom: 2px solid #8e24aa !important;
    color: #fff;
}

input:hover {
    border-bottom: 2px solid #fff !important;
}

textarea {
    border-style: none none solid none;
    border-width: 0 0 2px 0;
    border-color: transparent transparent #8e24aa transparent;
    resize: none;
    height: 100px;
    color: #fff;
}

