body {
    font-family: 'Raleway', sans-serif;
}

.img-app {
    width: 300px;
    height: 300px;
    margin-left: auto; 
 }

 .navbar-color, .footer-color {
     background-color: #8e24aa;
 }

 .dark-info {
     background-color: #000;
     color: #fff;
     padding: 100px;
 }

 .dark-info i {
     color: #8e24aa;
     font-size: 50px;
 }

 .dark-info p {
     text-align: justify;
     width: 80%;
 }

 .rect {
     border: 2px solid #8e24aa;
     border-radius: 4px;
     height: 500px;
 }

 .purple-info {
     background-color: #ab47bc;
 }