@import url('estilo.css');

.img-app {
    width: 300px;
    height: 300px;
    margin-left: auto; 
 }

 .dark-info {
     background-color: #000;
     color: #fff;
     padding: 100px;
     margin-top: -20px;
 }

 .dark-info i {
     color: #8e24aa;
     font-size: 50px;
 }

 .dark-info p {
     text-align: justify;
 }

 .purple-info {
     background-color: #ab47bc;
     color: #fff;
 }

 .customer {
    margin: 30px 0 0;
 }

 .customer .more-info {
     border: 1px solid #d2d2d2;
     border-radius: 8px;
     padding: 4px 10px;
     font-size: 20px;
     position: relative;
     left: 0.5%;
     bottom: 42vh;
 }

 .customer img {
     width: 155px;
     height: 177px;
 }

 .customer h5 {
     margin-left: 20px;
 }

 .customer p {
     margin-left: 45px;
 }

.info-customer {
    position: relative;
    top: 0;
    left: 20%;
    border: 1px solid #000000;
    width: 50%;
}

.purple-info {
    background-color: #ba68c8;
    padding: 20px;
}

label {
    color: #fff !important;
}

input {
    border-bottom: 2px solid #8e24aa !important;
    color: #fff;
}

input:hover, input:focus {
    border-bottom: 2px solid #fff !important;
}

textarea {
    border-style: none none solid none;
    border-width: 0 0 2px 0;
    border-color: transparent transparent rgb(142, 36, 170) transparent;
    resize: none;
    height: 100px;
    color: #fff;
}

textarea:hover, textarea:focus {
    border-bottom: 2px solid #fff !important;
}

.purple-icon {
    color: #8e24aa;
}