.tooltip {
  position: relative;
  background: #fff;
  padding: 5px 12px;
  margin: 5px;
  font-size: 15px;
  border-radius: 100%;
  color: #FFF;
}

.tooltip:before,
.tooltip:after {
  position: absolute;
  content: '';
  opacity: 0;
  transition: all 0.4s ease;
}

.tooltip:before {
  border-width: 8px 8px 8px 8px;
  border-style: solid;
  border-color: transparent #ab47bc #ab47bc transparent;
  top: 5px;
  left: 35px;
   transform: translateY(20px);
}

.tooltip:after {
  content: attr(data-tooltip);
  background: #ab47bc;
  width: 360px;
  height: 100px;
  font-size: 13px;
  font-weight: 300;
  top: -30px;
  left: 50px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  transform: translateY(-2px);
}

@keyframes shake {
  0% { 
    transform: rotate(2deg);
  }
  50% {
   transform: rotate(-3deg);
  }
  70% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#anim:hover {
  animation: shake 500ms ease-in-out forwards;
}